<footer>
  <div class="box column footer">
    <p><img src="/application/light/anrinch-entertainment.png" alt="Anrinch Entertainment"></p>

    <nav>
      <a href="/support">Help</a>
      <a href="/corporation/career">Career</a>
      <a href="/contact">Contact</a>
      <a href="/corporation">Corporate</a>
      <a href="/corporation/legal/privacy">Privacy</a>
      <a href="/corporation/legal">Legal</a>
    </nav>

    <p class="copyrights">&copy; {{ date.full_year }}</p>
  </div>
</footer>
