<header>
  <div class="h main">
    <div class="grid row header">
      <a href="/" class="logo"></a>

      <nav>
        <a href="/games">Games</a>
        <a href="/topics/updates">Updates</a>
        <a href="/stories">Stories</a>
        <a href="/forums" rel="plain">Forums</a>
      </nav>

      <ul class="account">
        <li><a href="/support"><i class="fas fa-envelope"></i>Support</a></li>
        <li><a href="/account"><i class="fas fa-user"></i>Przemyslaw</a></li>
      </ul>
    </div>
  </div>
</header>
