/* 
@-webkit-keyframes stage_element {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes stage_element {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
} */
