{{>partials/metadata}}

<body>
  {{>partials/header}}

  <div class="content">
    <div class="updates">
      <h1>13 November 2018</h1>

      <ul class="changelog">

        <li class="record">

          <h2>Added new website into the conclusion</h2>

          <p>The update covers blah blah</p>

          <ul>
            <li>Added new sort of pets</li>
            <li>Updated the source code</li>
            <li>Refreshed the login server</li>
            <li>Able to log in with emails and shit</li>
          </ul>

          <p>The update covers blah blah</p>
          <p>The update covers blah blah</p>
        </li>

        <li class="record">

          <h2>Added new website into the conclusion</h2>

          <p>The update covers blah blah</p>

          <ul>
            <li>Added new sort of pets</li>
            <li>Updated the source code</li>
            <li>Refreshed the login server</li>
            <li>Able to log in with emails and shit</li>
          </ul>

          <p>The update covers blah blah</p>
          <p>The update covers blah blah</p>
        </li>

        <li class="record">

          <h2>Added new website into the conclusion</h2>

          <p>The update covers blah blah</p>

          <ul>
            <li>Added new sort of pets</li>
            <li>Updated the source code</li>
            <li>Refreshed the login server</li>
            <li>Able to log in with emails and shit</li>
          </ul>

          <p>The update covers blah blah</p>
          <p>The update covers blah blah</p>
        </li>

      </ul>

      <h1>14 November 2018</h1>

      <ul class="changelog">
        <li class="record">
          <h2>Added new website into the conclusion</h2>
        </li>

        <li class="record">

          <h2>Added new website into the conclusion</h2>

          <p>The update covers blah blah</p>

          <ul>
            <li>Added new sort of pets</li>
            <li>Updated the source code</li>
            <li>Refreshed the login server</li>
            <li>Able to log in with emails and shit</li>
          </ul>

          <p>The update covers blah blah</p>
          <p>The update covers blah blah</p>
        </li>

        <li class="record">

          <h2>Added new website into the conclusion</h2>

          <p>The update covers blah blah</p>

          <ul>
            <li>Added new sort of pets</li>
            <li>Updated the source code</li>
            <li>Refreshed the login server</li>
            <li>Able to log in with emails and shit</li>
          </ul>

          <p>The update covers blah blah</p>
          <p>The update covers blah blah</p>
        </li>

        <li class="record">

          <h2>Added new website into the conclusion</h2>

          <p>The update covers blah blah</p>

          <ul>
            <li>Added new sort of pets</li>
            <li>Updated the source code</li>
            <li>Refreshed the login server</li>
            <li>Able to log in with emails and shit</li>
          </ul>

          <p>The update covers blah blah</p>
          <p>The update covers blah blah</p>
        </li>

      </ul>

    </div>
  </div>

  {{>partials/footer}}
</body>
</html>
