{{>partials/metadata}}

<body>
  {{>partials/header}}

  <div class="content community">
    <h1 class="center">Join. And browse with Anrinch Community.</h1>

    <h1 class="title">Forums</h1>

    <div class="box w1240 games">
      <a href="/forums/general" style="background-image: url(/application/light/infinitesky.png)">
        <span class="border">
          <h2 class="padded">General</h2>
        </span>
      </a>

      <a href="/forums/infinitesky" style="background-image: url(/application/light/infinitesky.png)">
        <span class="border">
          <h2 class="padded">InfiniteSky</h2>
        </span>
      </a>
    </div>
  </div>

  {{>partials/footer}}
</body>
</html>
